.smart-call-to-action-flex-container-left{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100%;
    height: 100%;
    z-index:1;
}


.smart-call-to-action-container{
    width: 35%;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
}

#h1-smart-call-to-action-title{
    font-weight: 400;
    font-size: 3.1rem;
    letter-spacing: 0.11rem;
    margin: 0;
}

.smart-call-to-action-container hr{
    width: 100%;
}

#smart-call-to-action-paragraph{
    text-align: justify;
    display: inline;
    font-size:1.3rem;
    font-weight: 300;
    letter-spacing: 0.17rem;
}
