.sobre-mi-fifth-part{
    background-color: black;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mi-contact-container{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.sobre-mi-contact-paragraph-container{
    display: flex;
    text-align: center;
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 2rem;
}

.sobre-mi-contact-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10%;
    height: 10%;
}

.sobre-mi-button-container{
    flex: 3 1 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mi-button-container a{
    width: 100%;
    height: 100%;
}

.sobre-mi-button-container button{
    width: 90%;
}


.empty-container{
    flex: 0.2 1 0px;
}

.sobre-mi-social-media-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    margin: 5% 0;
}

.sobre-mi-social-media-icon-container{
    flex: 1 1 0px;
    width: 10%;
    height: 100%;
}
